tkinter==0.0.0  # This is part of the Python standard library, but sometimes it's good to check
llvmlite==0.37.0  # This version might change depending on when you installed it
readline  # This is also part of the Python standard library on most systems